{% extends 'empcrud/base_django.html' %}
{% block title %}Update details{% endblock %}
{% block body %}
      <p><b>Update {{ emp.name }}'s details</b></p>
      <div class="shadow p-4 mb-5 bg-body rounded" style="background-color: #ffffff;">
            <form method="post" action="" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{form.as_p}}
                  <button type="submit" class="btn btn-outline-warning btn-sm" name="Save">Update details</button>
                  <a href="{% url 'view' %}"><button type="button" class="btn btn-outline-secondary btn-sm">Cancel </button></a>
            </form>
      </div>
{% endblock %}